.FullComment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #eef2ff;
  color: #581c87;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
}
.FullComment button {
  color: #f43f5e;
  background-color: #fff;
  padding: 7px 15px;
  border-radius: 7px;
  border: 1px solid #f43f5e;
}
